body {
  background-image: url("../img/sfondo.png");
  background-size: cover;
  background-repeat: repeat-y;
}
/* IMPOSTAZIONI GENERALI */

/* HEADER */

.top-box {
  background: linear-gradient(to bottom, #4397b7, #2e6a85);
  width: 90%;
  margin-inline: auto;
  margin: 15px auto;
  text-align: center;
  box-shadow: 0px 1px 3px 1px rgba(2, 2, 2, 0.473);
}

.top-box img {
  display: inline-block;
  text-align: center;
  padding-block: 20px;
  height: 70px;
}

.top-box h3 {
  color: white;
  padding-block: 3px;
}

/* MAIN */
.main {
  background-color: white;
  width: 90%;
  margin-inline: auto;
}
/* ELEMENTI NEL MAIN - ARTICLE */
.elements-main {
  padding-inline: 10px;
  padding-block: 40px;
}
/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
